Correos.json.json
{
  "name": "Correos",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "625c0d0c-854e-4ab2-967c-b07ebb2ed787",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://votnfkmawcqbpbcqpefy.supabase.co/rest/v1/rpc/consulta_facturas_alerta",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        0
      ],
      "id": "dcc90e30-95b3-4bda-8666-d731ccab56f4",
      "name": "HTTP Request",
      "credentials": {
        "supabaseApi": {
          "id": "opHtqMLoOO6TFYcu",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email_cliente }}",
        "subject": "=Notificación de factura {{ $json.numero_factura }}",
        "message": "=Hola {{ $json.nombre_cliente }},\n\nTu factura {{ $json.numero_factura }} venció el {{ $json.fecha_vencimiento }} y aún se encuentra pendiente.\n\nTotal: ${{ $json.total }}\n\nPor favor realiza el pago lo antes posible.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        660,
        0
      ],
      "id": "03062ce6-3ac1-41e7-8e90-81cef377e1a6",
      "name": "Send a message",
      "webhookId": "a171944a-a3a1-43f3-b94b-cb485380d346",
      "credentials": {
        "gmailOAuth2": {
          "id": "r58yc2mqrejmzXQq",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "246a0a46-9f00-44c2-8bda-03c16a9030c0",
              "leftValue": "={{ $json.estado }}",
              "rightValue": "vencida",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        440,
        0
      ],
      "id": "a7afbfe3-c001-4743-8771-bbeb6ced7fca",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "=\t{{ $json.email_cliente }}",
        "subject": "=⏳ Factura próxima a vencer - {{ $json.numero_factura }}",
        "message": "=Hola {{ $json.nombre_cliente }},  Este es un recordatorio de que tu factura {{ $json.numero_factura }} vencerá el {{ $json.fecha_vencimiento }}.  Total: ${{ $json.total }}  Te recomendamos realizar el pago antes de la fecha límite.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        620,
        160
      ],
      "id": "8f54f373-413b-4b68-8746-06ca98c2d01f",
      "name": "Send a message1",
      "webhookId": "18e94c8d-aa8f-4587-8d8c-2852594b831a",
      "credentials": {
        "gmailOAuth2": {
          "id": "r58yc2mqrejmzXQq",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "from": "+14155238886",
        "to": "=+573196962008",
        "toWhatsapp": true,
        "message": "=Hola {{ $json.nombre_cliente }},\n\nTu factura {{ $json.numero_factura }} venció el {{ $json.fecha_vencimiento }} y aún se encuentra pendiente.\n\nTotal: ${{ $json.total }}\n\nPor favor realiza el pago lo antes posible.",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        660,
        -140
      ],
      "id": "8c3ac4f8-5c37-439d-9d89-da05a1667f37",
      "name": "Send an SMS/MMS/WhatsApp message",
      "credentials": {
        "twilioApi": {
          "id": "ECOpQ7U7rHzlifpj",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "from": "+14155238886",
        "to": "=+573196962008",
        "toWhatsapp": true,
        "message": "=Hola {{ $json.nombre_cliente }},  Este es un recordatorio de que tu factura {{ $json.numero_factura }} vencerá el {{ $json.fecha_vencimiento }}.  Total: ${{ $json.total }}  Te recomendamos realizar el pago antes de la fecha límite.",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        640,
        320
      ],
      "id": "9ca92b24-65b1-4e8f-879d-8fd70af6bb95",
      "name": "Send an SMS/MMS/WhatsApp message1",
      "credentials": {
        "twilioApi": {
          "id": "ECOpQ7U7rHzlifpj",
          "name": "Twilio account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send an SMS/MMS/WhatsApp message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send an SMS/MMS/WhatsApp message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "cba9a236-c110-4ac7-9ee0-96b2070c0adf",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ebd67138ea22453836c49c5a057ecc82555d4c9e49910d6e1f09a60cd711275d"
  },
  "id": "GfwVEbXyKetMj8Gt",
  "tags": []
}